{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{lager, "3.4.2"},
	{erlando, ".*", {git, "https://github.com/travelping/erlando.git", "master"}},
	{gtplib, ".*", {git, "https://github.com/travelping/gtplib.git", {branch, "master"}}},
	{exometer_core, ".*", {git, "https://github.com/Feuerlabs/exometer_core.git", "master"}},
	{gen_socket, ".*", {git, "https://github.com/travelping/gen_socket.git", {branch, "master"}}}
]}.

{minimum_otp_vsn, "19"}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{profiles,
 [{integration,
   [{deps, [{ergw, {git, "git://github.com/travelping/ergw.git"}}]},
    {erl_opts, [debug_info]}
   ]}
 ]}.
