[{setup, [{data_dir, "/var/lib/ergw"},
	  {log_dir,  "/var/log/gtp-u-proxy"}                             %% NOTE: lager is not using this
         ]},

 {gtp_u_edp, [
	      {sockets, [{grx, [
				{ip, {172,20,16,90}},
%%                        {send_ip, {172,20,16,98}},
%%                        {ip,  {0,0,0,0}},
%%                        {ip,  {1,1,1,1}},
				{netdev, "ens224"},
%%                        freebind,
				{netns, "/var/run/netns/grx"}]},
			 {'proxy-grx', [
%%                                {ip, {16#2001, 16#6f8, 16#12d9, 16#16, 16#10, 0, 0, 16#5b}},
					{ip,  {172,20,16,91}},
					{netns, "/var/run/netns/proxy"}]}
			]}
	     ]},

 {lager, [
	  {log_root, "/var/log/gtp-u-proxy"},
	  {colored, true},
	  {handlers, [
		      {lager_console_backend, debug},
		      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
		     ]}
	 ]}
].
